*{
	box-sizing: border-box;
}

.cube_section {
 	overflow: hidden;
 	position: relative;
}
.cube_section h1{
	position: relative;
	margin-top: 10vh;
	z-index: 2;
	text-align: center;
	font-size: 60px;
	text-shadow: 5px 5px 5px black;
	color: #FA4901;
}
#parallax{
	background: url(img/cube_bg.jpg) no-repeat center;
	background-size: cover;
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: scale(1.1);
}


.cube_container {
	position: relative;
	margin: 300px auto;
	margin-top: 250px;
	width: 500px;
	height: 500px;
	perspective: 1000px;
}
#frontface{
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#cube {

	width: inherit;
	height: inherit;
	transform-origin:center;
	transform-style: preserve-3d;
	transform: translateZ( -100px);
	transition: all 0.5s ease-out;
}

.side {
	background-color: #88E22B;
	position: absolute;
	width: inherit;
	height: inherit;
	border: 5px solid #fff;
	font: normal 30px Arial;
	text-align: center;
	color: #fff;
	backface-visibility: hidden;
}

.front {
	transform: translateZ(250px);
}

.back {
	transform: rotateY(180deg) translateZ(250px);
}

.right {
	transform: rotateY(90deg) translateZ(250px);
}

.left {
	transform: rotateY(-90deg) translateZ(250px);
}

.top {
	transform: rotateX(90deg) translateZ(250px);
}

.bottom {
	transform: rotateX(-90deg) translateZ(250px);
}

.button{
	position: absolute;
	z-index: 2;
	top:50%;
	color: orange;
	font-size: 40px;
	padding: 10px;
	background-color: white;
	border-radius: 25px;
}
#next{
	left: 10vw;
}
#prev{
	right: 10vw;
}