*{
	box-sizing: border-box;
	cursor: default;
	font-style: inherit;
}
nav a{
	color: #FF9800;
	text-decoration: none;
	font-size: 22px;
	border: 1px solid;
}
nav{
	position: fixed;
	top:0;
	z-index: 10;
	width: 100%;
	padding: 0;
	background-color: #fff;
	border: 1px solid;
	display: flex;
	justify-content: center;
}
nav>ul{
	display: flex;
	padding: 0;
	margin: 0;
	border: 1px solid;
}
nav li{
	display: flex;
	padding: 10px 30px;
	flex-shrink: 0;
	border: 1px solid;
	font-family: 'roboto';
}

.introduction{
	display: flex;
	margin-top: 15vh;
	flex-direction: column;
	align-items: center;
}
.introduction article{
	margin: 0 20vw;
	width: 60vw;
	border: 1px dashed red;
	width: 50vw;
	height: 50vh;
	margin-bottom: 15vh;
	position: relative;
}


.introduction article p{
	border: 1px dashed green;
	font-family: 'comic sans MS';
}
.introduction .legend{
	font-size: 60px;
	font-weight: bold;
	color:#88E22B;
}
.introduction button{
	width: 300px;
	border-radius: 5%;
	background-color: grey;
	position: fixed;
	top: 72vh;
}
.introduction button:first-of-type{
	left: 30vw;
}
.introduction button:last-of-type{
	right: 30vw;
}
