nav{
	
	position: fixed;
	top: 0;
	background-color: black;
	color: white;
	width: 100vw;
	height: 70px;
}
nav>ul{
	max-width: 700px;
	min-width: 320px;
	display: flex;
	margin: auto;
	justify-content: space-around;
	padding: 15px;
}
nav>ul>li{

	display: flex;
	padding: 10px 20px;
	border: 1px dashed white;
}